<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta tags -->
    <meta charset="UTF-8">
    {% include "homepage/base.html" %}


</head>
<body>


<h1>Bens website</h1>
<p></p>
<h2>Ben Deiningers Website</h2>
<p></p>
<a href="help">Help Page</a>
<p></p>
<a href="http://www.bendeininger.com">My Stardew Valley Calculator</a>
<p></p>
<a href="https://github.com/bendeininger1">My github</a>
<p></p>
<a href="https://www.linkedin.com/in/benjamin-deininger-263039a5/">My Linkedin</a>
<p></p>
{{ insert_me }}
</main>
</body>
</html>